 /* include fonts  */
 @import url(../fonts/roboto/font.css);
 /* ------------------ a links --------------------- */
 a { text-decoration: none; }
 a:hover, a:focus {text-decoration: none; }
 a:focus {   outline: thin dotted;  outline: 5px auto -webkit-focus-ring-color;   outline-offset: -2px; }

 /* ============ text styles and paragraph ==============  */
 body, p, form {font-family:'Roboto',Arial, Helvetica, sans-serif; font-size:14px; }
 body{background-color:#00B2B2; background-image:url(../img/bg-katak.png)}

 ol, ul, li{margin: 0; padding: 0;}

 /* ================== heading texts ==================  */
 h1,h2,h3,h4,h5,h6 {margin:0; font-weight:normal;}

 /* ================== wraps ================== */
 .main-wrap{}
 .wrap-content{margin:0 auto; background-color:#e5f1f6; margin-top:15px; box-shadow:0 2px 3px rgba(0,0,0,.5)}
 .header-content{color:#fff; background-color:#009B9B; min-height:60px; border-top:1px solid #06C3C3}

 .header-content .navbar{margin:0; border:0; min-height: 60px; margin-left:250px;}
 .header-content .nav > li > a{transition:.5s; padding:20px; color:#fff;}
 .header-content .nav > li > a:hover, .nav > li > a:focus {
 	text-decoration: none;
 	background-color: #00B2B2; transition:.5s;
 }
 .header-content .nav  li:first-child i{font-size:18px; }
 .header-content .nav  li  i{font-size:16px; color:aqua; padding-right:10px;}

 .navbar-collapse{width:100%; float:none}
 .navbar-toggle:focus { background-color: #00B2B2; }


 .brand {
 	display: block;
 	float: left;
 	height: 60px;
 	font-size: 20px;
 	line-height: 60px;
 	text-align: center;
 	width: 250px;
 	padding: 0 16px;
 	font-weight: 300;
 	background-color: #008888;
 }
 .brand span{margin-right:10px;}
 .brand a{color:#B4DFE9; }
 .brand a:hover{color:#fff;}
 
 /* ================== wrap-content ==================  */
 .wrap-content{ background-color: #009B9B }

 .sidebar{ position: absolute;
 	background-color:#009B9B;
 	min-height:600px;
 	width: 250px;
 }
 .user-media{padding:10px; height:65px; background-color: #B4DFE9}
 .user-media > .img-holder > img {
 	width: 45px;
 	height: 45px;
 }
 .user-media::before, .user-media::after {
 	content: " ";
 	display: table;
 	clear:both;
 }
 .user-media > .info {
 	padding: 5px 5px 5px 15px;
 	font-size: 14px;
 	line-height: 1;
 }
 .user-media > .info > a {
 	text-decoration: none;
 	padding-right: 5px;
 	margin-top: 3px;
 	font-size: 11px;
 	font-weight: normal;
 }

 /* ======== LEFT MENU =========*/
 .sidebar-menu, .sidebar-menu ul {
 	list-style: none;
 	margin: 0;
 	padding: 0;
 }
 .sidebar-menu li.header {
 	padding: 10px 25px 10px 15px;
 	font-size: 12px;
 	color: #b4dfe9;
 }
 .sidebar-menu > li {
 	position: relative;
 	margin: 0;
 	padding: 0;
 }
 .sidebar-menu > li > a {
 	padding:10px 5px 10px 16px;
 	display: block;
 	color: #fff;
 	border-top:1px solid #0BABAB; transition: all .5s
 }
 .sidebar-menu > li > a:hover{
 	background-color: #008888
 }
 .sidebar-menu > li.active{
 	background-color: #008888;  color: #fff;
 }
 .sidebar-menu > li.active > a{
 	border-bottom:1px solid #008888;
 }
 .sidebar-menu > li i:first-child{
 	font-size:16px; color:aqua; width: 16px;
 }
 .sidebar-menu > li i.fa-angle-left{float:right; margin-right: 10px; margin-top:2px;}
 .sidebar-menu > li.active  i.fa-angle-left{transform:rotate(-90deg); transition:.7s}
 .sidebar-menu >li span{margin-left:15px;}

 .sidebar-menu .sub-menu {
 	display:none;
 	list-style: none;
 	padding: 0;
 	margin: 0;
 	padding-left: 5px;
 	padding-bottom: 5px;
 	background: #008888;
 }
 .sidebar-menu .sub-menu > li > a {
 	padding: 7px 5px 5px 20px;
 	display: block;
 	font-size: 14px;
 	color: #B4DFE9;
 }
 .sidebar-menu .sub-menu > li > a:hover {
 	color: #fff;
 }
 .sidebar-menu .sub-menu > li.active{color: #fff}

   /* ======== HIDDEN SIDEBAR =========*/
 .sidebar-hide .sidebar{width:50px}
 .sidebar-hide .main-content{margin-left:50px;}
 .sidebar-hide .user-media{display:none}
 .sidebar-hide .brand{width:50px}
 .sidebar-hide .brand span{display:none}
 .sidebar-hide .brand a{padding:0}
 .sidebar-hide .sidebar-menu{margin-top:65px}
 .sidebar-hide .sidebar-menu .header{display: none}
 .sidebar-hide .sidebar-menu li{position: relative;}
 .sidebar-hide .sidebar-menu li span{display:none; margin:0; width: 150px; height:100%; background-color: #008888; position: absolute; z-index:9; top:1px; left:100%; padding:10px;}
 .sidebar-hide .sidebar-menu > li > ul{display:none; z-index: 999; min-width:200px; position: absolute; left:100%; top:1px;}
 .sidebar-hide .sidebar-menu li a i{display: inline-block; margin-left:2px;}
 .sidebar-hide .sidebar-menu li a span + i{display:none}
 .sidebar-hide .sidebar-menu > li:hover {background-color: #008888;}
 .sidebar-hide .sidebar-menu > li:hover .sub-menu{display: block}
 .sidebar-hide .sidebar-menu > li:hover span{display: block}
 
  /* ======== MAIN CONTENT =========*/
 .main-content{margin-left:250px; min-height:700px; padding:15px; background-color: #E5F1F6 }

 .page-header{margin:0; padding:0; }
 .page-header h1{font-size: 24px; padding-bottom:20px; padding-top:5px; color: #009B9B}

 .content{margin-left: auto; margin-right: auto; display: block;}
 
 
 .btn_main {
 	-moz-box-shadow:inset 0px 1px 0px 0px #FABF70,  0px 2px 0px 0px #fff;
 	-webkit-box-shadow:inset 0px 1px 0px 0px #FABF70,  0px 2px 0px 0px #fff;
 	box-shadow:inset 0px 1px 0px 0px #FABF70,  0px 2px 0px 0px #fff ;
 	background:-moz-linear-gradient(bottom, #F29540 0%, #F4A55E 100%);
 	background:-webkit-linear-gradient(bottom, #F29540 0%, #F4A55E 100%);
 	background:-o-linear-gradient(bottom, #F29540 0%, #F4A55E 100%);
 	background:linear-gradient(to top, #F29540 0%, #F4A55E 100%);
 	background-color:#F29540;
 	-moz-border-radius:5px;
 	-webkit-border-radius:5px;
 	border-radius:5px;
 	border:1px solid #EF7A10;
 	display:inline-block;
 	cursor:pointer;
 	color:#fff;
 	font-size:13px;
 	font-weight:bold;
 	padding:25px 24px;
 	text-decoration:none;
	text-transform:uppercase;
 	text-shadow:0px 1px 0px #A84809;
 	letter-spacing: 1px;
 	width: 100%; text-align: center;
 	margin-bottom:20px;
 }
 .btn_main:hover {
 	background:-moz-linear-gradient(bottom, #F08626 0%, #F08626 100%);
 	background:-webkit-linear-gradient(bottom, #F08626 0%, #F08626 100%);
 	background:-o-linear-gradient(bottom, #F08626 0%, #F08626 100%);
 	background:linear-gradient(to top, #F08626 0%, #F08626 100%);
 	color:#fff;
 }
 .btn_main:active {
 	position:relative;
 	top:1px;
 }
 .btn_main i{font-size: 28px; color: #FBCE91; padding-right: 7px; vertical-align: middle; text-shadow: 0px -1px 0px #A84809,  1px  1px 0px rgba(255,255,255,.9);}


 .panel-title{font-size: 13px; text-transform: uppercase; color: #009999; font-weight: bold}  
 .panel-title .label{font-size:90%!important;  margin-left:10px; }

 table img {
    max-width: 100px;
    max-height: 100px;
}
 
.title-info{color: #009999; margin-bottom:7px;}

.table-info{width: 100%; margin-bottom:15px;}
.table-info  td{text-align: left; padding: 5px 0}
.table-info  td+td{width: 40px;}

 .title-text{margin:30px 0; color: #009B9B;}
 
 /* --------- prod cards  ---------- */
.prod{position:relative; height:250px; background-color:#fff; border:1px solid #D2EAEF; box-shadow: 0 2px 0px #ccc; border-radius:7px; margin-bottom:30px; overflow:hidden;}
.prod .img-holder{margin-bottom:0; text-align:center; height:150px;  overflow:hidden; }
.prod .img-holder img{display:inline-block; width:100%; height:150px; background: #eee; 	object-fit: cover;}

.prod .anons{padding:10px; padding-bottom:0}
.prod  p{ overflow:hidden; white-space: nowrap;  text-overflow: ellipsis;}

.prod .top-btn{position:absolute; top:10px; right:10px; box-shadow:1px 1px 3px rgba(0,0,0,.7)}
.prod .status{padding:5px 10px; position:absolute; bottom:0; width:100%;}


.prod .dropdown-menu {
    right: 0;
    left: auto;
}


 /* --------- prod list  ---------- */
 .list-prod{list-style: none}
 .list-prod li{margin-bottom: 15px; padding-bottom: 15px; border-bottom:1px solid #E5F1F6;}
 .list-prod .img-prod-wrap{width: 90px; overflow: hidden; float: left;}
 .list-prod .img-prod-wrap img{width:100%; height:70px; object-fit: cover;}
 .list-prod .info-prod{margin-left: 100px;}
 .list-prod p{margin-bottom:7px;}
 .list-prod .title{margin-bottom:7px; font-weight: bold}
 .list-prod span{display: inline-block; padding-right:15px;}
 .list-prod .prod-total{color:#F08626;}

 .list-prod-grid{}
 .list-prod li:last-child{margin-bottom:0px; border-bottom:none; padding-bottom: 0; }
 .list-prod-grid li:nth-last-child(2){margin-bottom:0px; padding-bottom: 0; border-bottom:none}


 .info-box{background-color: #eee; color: #333; margin-bottom:30px; box-shadow:0 1px 3px rgba(0,0,0,.3)}
 .info-box .info-header{background-color: #ddd; padding:7px 15px;}
 .info-box .info-text{padding:15px; font-size: 18px;}
  .info-box i{font-size:200%; color:#C0C0C0; margin-right:15px; vertical-align:middle}

  /*  --------------- form preview image before upload  --------------- */
.avatar-insert {position:relative; text-align:center; width:100px; height:100px; border: 4px solid #fff; background-color:#eee; border-radius:50%; overflow:hidden}
.avatar-insert input{opacity: 0;
height: 100%;
position: absolute;
right: 0px;
top: 0px;
font-size: 70px;
margin: 0px;
padding: 0px;
cursor: pointer;}
.avatar-insert img{ min-width:100%; max-height:100%; object-fit:contain}

.avatar-insert .overlay{ line-height:100px;  background-color:rgba(0,0,0,.5); position:absolute; top:0; left:0; height:100%;width:100%; color:#fff; text-align:center;display:none}

.avatar-insert:hover .overlay{display:block}

 /* --------- accordion ---------- */
#accordion .panel-heading {padding: 0;}
#accordion .panel-heading a{padding:15px;}
#accordion .panel-heading a[aria-expanded=true] .glyphicon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: -webkit-transform 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 350ms cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
#accordion .panel-heading a {display: block;}
#accordion .panel-heading .glyphicon { margin-top:3px;
  transition: transform 350ms, -webkit-transform 350ms;
}
 
/* --------- widget box ----------- */
.widget-box {
	position:relative;
    display: block;
    min-height: 90px;
    background: #FFF none repeat scroll 0% 0%;
    width: 100%;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    margin-bottom: 15px;
}
.widget-box > .inner {
    padding: 10px; color:#fff!important;
}
.widget-box-icon {
color:rgba(255,255,255,.7);
    border-radius: 2px 0px 0px 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;
}
.widget-box-content {
	color: #FFF !important;
    padding: 5px 10px;
    margin-left: 90px;
}
.widget-box-text-lg {
    display: block;
    font-weight: bold;
    font-size: 18px;
}
.widget-box-text {
    display: block; line-height: 1.8;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.widget-box .icon {
    transition: all 0.3s linear 0s;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15);
}
.widget-box  h3 {
    font-size: 28px;
    font-weight: bold;
    margin: 0px 0px 10px;
    white-space: nowrap;
    padding: 0px;
}
.widget-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0px;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0% 0%;
    text-decoration: none;
}
.widget-box-footer:hover {
    color: #FFF; background: rgba(0, 0, 0, 0.15) none repeat scroll 0% 0%;}

.bg1{background-color: #F39C12 !important;}
.bg2{background-color: #DD4B39 !important;}
.bg3{background-color: #00A65A !important;}
.bg4{background-color: #00C0EF !important;}


 /* =============== pre defined styles ================ */
 .row-sm {  margin-right: -7px;  margin-left: -7px;}
 .row-sm > [class*="col-"] {  padding-left:7px;  padding-right:7px;}
 @media (min-width: 768px) {
 	.col-5-1 {width:20%; float: left!important; } 
 }

 /* --------------------- lists ---------------------- */
 [class*="list-"]:after {
 	visibility: hidden;
 	display: block;
 	content: "";
 	overflow: hidden; 
 	height: 0; clear: both;
 }
 [class*="list-"] li:after {
 	visibility: hidden;
 	display: block;
 	content: "";
 	overflow: hidden; 
 	height: 0; clear: both;
 }
 .center{margin-left:auto; margin-right:auto;}
 .text-center, .txt-center{text-align:center}
 .relative{position:relative}
 .absolute{position:absolute}
 /* all clearfix */
 .form-group:before,
 .form-group:after,
 .container:before,
 .container:after,
 .container-fluid:before,
 .container-fluid:after,
 .panel-body:before,
 .panel-body:after,
 .blok:before,
 .blok:after,
 .blok-heading:before,
 .blok-heading:after,
 .row-sm:before,
 .row-sm:after{
 	display: table;
 	content: " ";
 }
 .blok-heading:after,
 .row-sm:after,
 .container:after,
 .form-group:after,
 .panel-body:after,
 .blok:after,
 .container-fluid:after {
 	clear: both;
 }
.m0{margin:0!important}
.p0{padding:0!important}
 /*  clearfix mini */
 .cfx:before, .cfx:after { content:"";  display:table;}
 .cfx:after { clear:both;}
 .hide {display: none !important;}
 .center-block{float:none}
 .db{display: block!important}
.bg-white{background-color:#fff}

 /* ---- scroll top btn ---- */
 .topHome {position: fixed; color:#fff;  background-color:rgba(0,0,0,.3); padding:7px; bottom:1%;    right: 1%;z-index: 5;}
 
 /* ================  footer styles  ================ */
 #footer{padding:30px;}
 #footer .footer-txt{ float:left; font-size:12px; }
 #footer .counter{float:right; width:100px; height:40px; }
 #footer a{color: #333}
